body {
    padding: 0px;
}

.game-header {
    padding: 10px;
}

footer {
    display: flex;
    background-color: light-grey;
    padding: 5px, 20px, 5px, 20px;
}

.flexbox-texthz-list {
    display: flex;
    justify-content: space-between;
}

.primary-links-list a {
    color: black;
    text-decoration: none;
}

.secondary-links-list a {
    color: grey;
    text-decoration: none;
)

.primary-links-list a,
.secondary-links-list a {
    transition: color 0.3s;
    transition: text-decoration 0.3s;
}

.primary-links-list a:hover,
.secondary-links-list a:hover {
    color: grape;
    text-decoration: underline;
}

.primary-links-list a:active,
.secondary-links-list a:active {
    color: lavander;
    text-decoration: underline;
}
