:root {
	--ptextcolor: white;
	--stextcolor: grey;
	--textchangecolor: green;
	--backgroundcolor: rgb(10, 10, 20);
	--sbackgroundcolor: rgb(20, 20, 40);
}

* {
    font-family: "Comic sans MS", "Comic sans", cursive, serif;
}

p, h1, h3{
	margin: 0px;
}

#theme-switch,
#game-grandtext,
#game-minortext {
	color: var(--ptextcolor);
}

body {
	background-color: var(--backgroundcolor);
    display: flex;
    flex-direction: column;
	margin: 0px;
}

header {
	display: flex;
	justify-content: space-around;
    background-color: var(--sbackgroundcolor);
	padding: 10px;
	justify-self: start;
}

#game-header {
    display: flex;
    flex-direction: column;
	align-items: center;
}

main {
    margin: 5vh;
    display: flex;
	align-self: center;
}

canvas {
    border: 1px solid var(--ptextcolor);
    border-radius: 5px;
    width: 80vh;
    height: 70vh;
}

footer {
	position: fixed; 
	bottom: 0; 
	width: 100vw;
    display: flex;
    background-color: var(--sbackgroundcolor);
    padding: 10px;
    justify-content: center;
    flex-direction: column;
	justify-self: end;
}

.flexbox-texthz-list {
    display: flex;
	align-items: center;
	justify-content: center;
    padding: 5px;
    gap: 1vw;
}
.flexbox-texthz-list p {
	color: var(--ptextcolor);
}

.primary-links-list {
	margin: 10px;
}

.primary-links-list a,
.secondary-links-list a {
    text-decoration: none;
	transition: color 0.2s;
}

.primary-links-list a:hover,
.secondary-links-list a:hover {
    color: var(--textchangecolor);
    text-decoration: underline;
}

.primary-links-list a {
    color: var(--ptextcolor);
}

.secondary-links-list a {
    color: var(--stextcolor);
)
