* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: rgb(220,220,220);
}

.game-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px, 20px, 10px, 20px;
}
.game-header h1,
.game-header h3 {
    font-family: "Comic Sans MS", "Comic Sans", cursive, serif;
}

main {
    margin: 30px;
    display: flex;
    justify-contet: space-around;
}

canvas {
    border: 1px solid black;
    border-radius: 5px;
    width: 50vh;
    height: 50vh;
}

footer {
    display: flex;
    background-color: rgb(220,220,220);
    padding: 10px
    justify-content: center;
    flex-direction: column;
}

.flexbox-texthz-list {
    display: flex;
    padding: 5px;
    gap: 5px;
    justify-content: space-around;
}

.primary-links-list a,
.secondary-links-list a {
    font-family: "Comic Sans MS", "Comic Sans", cursive, serif;
    align-items: center;
    transition: color 0.3s;
    transition: text-decoration 0.3s;
}

.primary-links-list a:active,
.secondary-links-list a:active {
    color: rgb(255,150,255);
    text-decoration: underline;
}

.primary-links-list a:hover,
.secondary-links-list a:hover {
    color: rgb(255,30,255);
    text-decoration: underline;
}

.primary-links-list a {
    color: rgb(0,0,0);
    text-decoration: none;
}

.secondary-links-list a {
    color: rgb(100,100,100);
    text-decoration: none;
)
